<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>
            唐津飲食店検索ページ
        </title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <header>
            <img  id="header" src="images/home.jpeg">
        </header>
        <main id="main">
            <h1 class="title_1">
                唐津市　飲食店検索
            </h1>
            <form action="cgi-bin/abc.cgi" method="post">
                <p>店名：<input class="search_1" type="text" name="namae" size="40" maxlength="20">   
                <input  type="submit" value="検索">
                </p>
            </form>
            <img src="images/image.png" width="295px" height="250px">
        </main>
          
           <div id="side">
                <nav>
                    <ul>
                        <li>
                            モーニング
                        </li>
                        <li>
                            ランチ
                        </li>
                        <li>
                            ディナー
                        </li>
                        <li>
                            喫茶店・カフェ
                        </li>
                        <li>
                            ファミレス
                        </li>
                        <li>
                            居酒屋
                        </li>
                    </ul>
                </nav>
           </div>
          
           <footer id="footer">
               運営しているSNS
            <li>
                <a href="https://saga-jpn.hatenablog.com/archive">
                    ほのぼの日記ブログ
                </a>
            </li>
            <li>
                <a href="https://saga-jpn.hatenablog.jp/archive">
                    透和の商品紹介ブログ
                </a>
            </li>
            <li>
                <a href="https://twitter.com/Saga_jpn">
                    Twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/sagan.jpn/">
                    Facebook
                </a>
            </li>
           </footer>
        
       
    </body>
</html>