<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>
            唐津飲食店検索ページ
        </title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <header>
            <div id="header">
                <div class="image">
                    <h1 class="title_1">
                        唐津市　飲食店検索
                    </h1>
                    <form method="get">
                        <p>
                            店名：<input type="text" name="namae" size="40" maxlength="20">   
                            <input type="submit" value="検索">
                        </p>
                    </form>
                </div>
            </div>
        </header>
        <main id="main">
            <div class="image_center">
                <img src="images/image.png" width="295px" height="250px">
            </div>
        </main>
        <side>
            <div id="side">
                <div class="box">
                    <h2>
                        カテゴリー
                    </h2>
                    <form method="get">
                        <div class="boxBody">
                            <ul>
                                <button>
                                ・モーニング　　
                                </button>
                                <button>
                                ・ランチ　　　　
                                </button>
                                <button>
                                ・ディナー　　　
                                </button>
                                <button>
                                ・喫茶店・カフェ
                                </button>
                                <button>
                                ・ファミレス　　
                                </button>
                                <button>
                                ・居酒屋　　　　
                                </button>
                            </ul>
                        </div>
                        
                    </form>
                </div>
            </div>
        </side>
           <footer id="footer">
               <div class="mokuji">
                    <h3>
                        運営しているSNS
                    </h3>
                </div>
                <li>
                    <a href="https://saga-jpn.hatenablog.com/archive">
                        ほのぼの日記ブログ
                    </a>
                </li>
                <li>
                    <a href="https://saga-jpn.hatenablog.jp/archive">
                        透羽の商品紹介ブログ
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/Saga_jpn">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/sagan.jpn/">
                        Facebook
                    </a>
                </li>
           </footer>  
    </body>
</html>